<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Add Music</title>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
  <link th:href="@{/css/styles.css}" rel="stylesheet" />
  <script th:src="@{/jquery/jquery.min.js}"></script>
  <script th:src="@{/popper/popper.min.js}"></script>
  <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
<th:block th:include="/_menu"></th:block>

<div class="container mt-4">
  <h2>Add Music</h2>

  <form action="/addMusic" method="post" th:object="${addMusicForm}">
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" id="title" th:field="*{title}" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="composer">Composer:</label>
      <input type="text" id="composer" th:field="*{composer}" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="duration">Duration:</label>
      <input type="number" id="duration" th:field="*{duration}" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="type">Type:</label>
      <input type="text" id="type" th:field="*{type}" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-primary">Add Music</button>
  </form>
</div>

</body>
</html>